/* Jules Sauvinet */
/* Marine Ruiz */


/* le conteneur basique principal de la page */
html{
    padding: 10px 40px 0 40px;
    /*rappel ordre top right bottom left*/
}
body, html {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #232323;
    background-color: #FBFAF7;
    margin: 0;
    line-height: 1.8em;
    -webkit-font-smoothing: antialiased;
    height: 100%;
}

@font-face {
    font-family: roboto_slab;
    src: url(RobotoSlab-Regular.ttf);
}

.sizelabelcheckcountry{
    font-weight: bold;
    font-size: 14px;
    margin-left: 0px;
	margin-right:7px;
	min-width: 100!important;
}

/*reset titles*/
#presentation-title{
    padding-bottom: 5px;
    margin-bottom: 30px;
    margin-top: 5px;
    padding-top: 5px;
    font-family: roboto_slab,Arvo, Monaco, serif!important;
    font-weight: bold;
    font-size: 42px;
}

h4{
    padding: 0px;
    margin: 0px;
}

/* la phrase d'accroche de la vizu */
#presentation-text{
    font-family: roboto_slab, serif!important;
    position: absolute;
    width: 92%;
    left: 50px;
    top : 20px;
    font-size: 20px;
    padding: 2px;
    margin: 2px;
	text-align:justify;
}
/*le conteneur des 2 conteneurs de smallMaps */
#mapsdiv{
    flex: 1;
    position: absolute;
    left: 20px;
    top : 450px;
    width: 76%;
    padding-right : 10px;
    padding-left : 10px;
    margin-left:10px;
}

/* le conteneur du panneau de droite de configuration */
#settings {
    position:absolute;
    right:45px;
    top : 450px;
    width: 20%;
}

/* le conteneur du choix des pays inclus dans la vizu */
#countriesdiv{
    border : 1pt solid lightgrey;
    border-radius : 5px;
    padding : 8px;
    margin: 6px;
    position:absolute;
    left: 40px;
    top: 350px;
    width: 92%;
}

/*le premier conteneur de smallMaps*/
#maps{
    height : 45%;
    padding-left: 10px;
    padding-right: 0px;
}

/*le deuxieme conteneur de smallMaps*/
#maps2{
    height : 45%;
    padding-left: 10px;
    padding-right: 0px;
}

/*les titres des 2 conteneurs de smallMaps*/
.maptitle{
    font-family: roboto_slab, Arvo, Monaco, serif;
    font-weight: 900;
    margin: 0px;
    padding: 0px;
    margin-left : 13px;
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 20px;
}
#map2title{
    margin-top : 25px;
}

/* les titres d'une smallmaps*/
.pmap {
    height : 15px;
    margin : 0px!important;
    padding : 0px!important;
    margin-bottom : 5px!important;
}

/*le conteneur d'une smallMap*/
.map{
    display: inline-block;
    text-align: center;
    margin:0px!important;
    padding:0px!important;
}

/*les conteneurs du panneau de droite de configration utilisateur*/
.choicediv{
    position: relative;
    padding: 7px;
}

/*le conteneur du panneau de droite de polluants*/
#pollutiondiv{
    margin-top : 20px;
    width : 350px;
}

/*le conteneur du panneau de droite de mesures*/
#mesurediv{
    width : 350px;
    margin-top : 15px;
}

/*le titre de ces conteneurs*/
.divchoicetitle{
    font-weight: bold;
}

/*les conteneurs du choix de polluants et de mesures*/
.choicelegend{
    border: 1px outset lightgrey;
    border-radius: 5px;
}

/* les légendes des cartes */
.legend{
    margin-left: 30px;
    margin-top: 10px;
}

/* le div du choix entre population et densité */
#normalisationdiv{
    position: relative;
    margin: 1px;
    padding: 2px;
    width : 320px;
    height : 10%;
}

/* les listes de boutons radio */
form {
    margin-left: 28px;
    padding: 7px;
    padding-left:15px;
}

/* techniquement, devrait TODO etre les labels des boutons radios selectionnés */
form > label,
span > label {
    margin-left: 10px;
    font-size: 14px;
}
label.selected {
    color: black;
}
label.notSelected {
    color: lightgray;
}

/* le tooltip quand on survole un pays d'une smallMap */
.d3-tip {
    line-height: 1.3;
    font-weight: bold;
    padding: 8px;
    background: rgba(0, 0, 0, 0.8);
    color: #efefef;
    border-radius: 2px;
}

.d3-tip:after {
    box-sizing: border-box;
    display: inline;
    font-size: 10px;
    width: 100%;
    line-height: 1;
    color: rgba(0, 0, 0, 0.8);
    content: "\25BC";
    position: absolute;
    text-align: center;
}

.d3-tip.n:after {
    margin: -1px 0 0 0;
    top: 100%;
    left: 0;
}

/* l'exposant renvoyat au footnotes */
sup{
	font-size : 12px;
	font-weight:bold;
}

/* les notes de bas de page */
.footnotes{
	font-size : 13px;
	margin-top:30px;
    /*font-style: italic;*/
    font-weight: 600;
}

footer{
	position : absolute; 
	bottom : -200px;
	margin-top : 10px;
	font-size : 16px;
	width : 1000px;
	text-align:left;
	font-weight:bold;
}

/* generic */

/* les indentations classiques */
p, ul, ol, table, dl {
    margin:0 0 22px;
}

/* les titres */
h1, h2, h3, h4, h5, h6 {
    font-family: roboto_slab,Arvo, Monaco, serif;
    color:#232323;
}
h1, h2, h3 {
    line-height:1.3;
    font-weight: normal;
}

h1,h2, h3 {
    display: block;
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
}

h1 {
    font-size: 30px;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 22px;
}

h4, h5, h6 {
    font-weight: 800;
}

h5{
    font-size: 16px;
    margin : 5px!important;
}

/* les liens */
a {
    /*color:#C30000;*/
    color: #00B7FF;
    font-weight:200;
    text-decoration:none;
}

a:hover {
    text-decoration: underline;
}

a small {
    font-size: 12px;
}

hr {
    border:0;
    background:#ccc;
    height:1px;
    margin:0 0 20px;
}

a.header {
    text-decoration: underline;
}

a.name {
    white-space: nowrap;
}

a.buttons {
    -webkit-font-smoothing: antialiased;
    background: url(../img/arrow-down.png) no-repeat;
    font-weight: normal;
    text-shadow: rgba(0, 0, 0, 0.4) 0 -1px 0;
    padding: 2px 2px 2px 22px;
    height: 30px;
}

a.buttons:hover {
    color: #fff;
    text-decoration: none;
}