<!DOCTYPE html>
<meta charset="utf-8">
<title>Crimes recorded by the police - NUTS 3 regions</title>
<style>

    body{height : 800px;width:1550px;}

    #mapleft{width: 600px; position:absolute; left : 125px; top:100px;}
    #mapright{width: 600px; position:absolute; left : 775px; top:100px;}

    .titlemap{
        font-size: 20px;
        text-anchor: middle;
        color:#232323;
        margin:36px 0 10px;
        font-family: Arvo, Monaco, serif;
        line-height:1.3;
        font-weight: normal;
    }

    #yeardiv {
        position: absolute;
        left :25px;
        border:1pt solid black;
        top :40px;
        padding: 4px;
    }

    #pollutiondiv{
        position: absolute;
        left :25px;
        border:1pt solid black;
        top :150px;
        padding: 4px;
    }

    #mesurediv{
        position: absolute;
        left :725px;
        border:1pt solid black;
        top :150px;
        padding: 4px;
    }

    .background {
        fill: #fff;
        stroke: #ccc;
    }
    .tooltip{ background-color:rgba(200,200,200,0.5);;
        margin: 10px;
        height: 90px;
        width: 150px;
        padding-left: 10px;
        padding-top: 10px;
        -webkit-border-radius:10px;
        -moz-border-radius:10px;
        border-radius:10px;
    }
    footer{position : absolute; bottom : 10px;}
</style>
<body>

<div id="mapleft"></div>
<div id="mapright"></div>
<script src="http://d3js.org/d3.v3.min.js"></script>
<script src="http://d3js.org/topojson.v1.min.js"></script>
<script src="https://d3js.org/queue.v1.min.js"></script>

<link rel="stylesheet" href="css/style2.css">
<link rel="stylesheet" href="css/github-light.css">
<!--script type="text/javascript" src="js/tooltip.js"></script-->
<!--TODO CHANGER LE STYLE (creer un style adapté), et LES POSITION SONT TOUTES EN ABSOLUES DONC PASSER EN RELATIF -->
<script>

    //TODO GERER LES SCALES DE COLOR

    var width = 1550,
            height = 800;

    //Map de gauche
    var projection1 = d3.geo.stereographic().center([3.9,43.0]).scale(900).translate([350 , 330]);
    var path1 = d3.geo.path().projection(projection1);
    var svg1 = d3.select("#mapleft").append("svg").attr("width", 600).attr("height", 500);

    //Map de droite
    var projection2 = d3.geo.stereographic().center([3.9,43.0]).scale(900).translate([350 , 330]);
    var path2 = d3.geo.path().projection(projection2);
    var svg2 = d3.select("#mapright").append("svg").attr("width", 600).attr("height", 500);

    var color1 = d3.scale.linear().domain([0,100]).range(['yellow', 'red']);
    var color2 = d3.scale.linear().domain([0,100]).range(['lightgreen', 'darkgreen']);

    var title1 = /*d3.select("#mapleft")*/svg1.append("text");
    var title2 = /*d3.select("#mapright")*/svg2.append("text");

    function updateViz(year, data1, data2, europe){
        /*color.domain([d3.min(grippedata, function(d) { return parseFloat(d[weeks[value]]);}), d3.max(grippedata, function(d) { return parseFloat(d[weeks[value]]);})]);*/
        d3.select('#year').html(year);
        drawMaps(year, data1, data2, europe);
    }

    function drawMaps(year, data1, data2, europe) {

        dataMap1 = {};

        data1.forEach(function (d) {
            //if (d.unit === 'T' && d.airpol === 'NH3' && d.airsect ==='SE1_CIH') {
            dataMap1[d["geo"]] = d[year];
            //}
        });

        dataMap2 = {};

        data2.forEach(function (d) {
            console.log(d);
            //if (d.unit === 'T' && d.airpol === 'NH3' && d.airsect ==='SE1_CIH') {
            dataMap2[d["geo"]] = d[year];
            //}
        });

        var carte1 = svg1.selectAll(".region1")
                .data(topojson.feature(europe, europe.objects.regions).features);

        // code en cas de mise a jour de la carte / de changement de semaine
        carte1.attr("class", "update region1")
                /*.filter(function (d) {
                    return !isNaN(parseFloat(data[d.properties.NUTS_ID]));
                })*/
                .style("stroke", "#999")
                .style("stroke-width", 0.2)
                .style("fill", function (d) {
                    if (!isNaN(parseFloat(dataMap1[d.properties.NUTS_ID])))
                        return color1(100000 * dataMap1[d.properties.NUTS_ID] / d.properties.POPULATION);
                    else
                        return "#999";
                })
                .style("opacity", function (d) {
                    if (!isNaN(parseFloat(dataMap1[d.properties.NUTS_ID])))
                        return 1;
                    else
                        return 0;
                });

        // code pour la creation de la carte quand les donnees sont chargees la 1e fois.
        carte1.enter()
                .append("path")
                /*.filter(function (d) {
                    return !isNaN(parseFloat(data[d.properties.NUTS_ID]));
                })*/
                .attr("class", "enter region1")
                .attr("d", path1)
                .style("stroke", "#999")
                .style("stroke-width", 0.2)
                .style("fill", function (d) {
                    if (!isNaN(parseFloat(dataMap1[d.properties.NUTS_ID])))
                        return color1(100000 * dataMap1[d.properties.NUTS_ID] / d.properties.POPULATION);
                    else
                        return "#999";
                })
                .style("opacity", function (d) {
                    if (!isNaN(parseFloat(dataMap1[d.properties.NUTS_ID])))
                        return 1;
                    else
                        return 0;
                });
                /*.on('mousemove', function(d) {
                    fillTooltip(d, currentWeek);
                })
                .on('mouseout', function() {
                    tooltip.classed('hidden', true);
                });*/

        var carte2 = svg2.selectAll(".region2")
                .data(topojson.feature(europe, europe.objects.regions).features);

        // code en cas de mise a jour de la carte / de changement de semaine
        carte2.attr("class", "update region2")
                /*.filter(function (d) {
                    return !isNaN(parseFloat(data[d.properties.NUTS_ID]));
                })*/
                .style("stroke", "#999")
                .style("stroke-width", 0.2)
                .style("fill", function (d) {
                    if (!isNaN(parseFloat(dataMap2[d.properties.NUTS_ID])))
                        return color2(100000 * dataMap2[d.properties.NUTS_ID] / d.properties.POPULATION);
                    else
                        return "#999";
                })
                .style("opacity", function (d) {
                    if (!isNaN(parseFloat(dataMap2[d.properties.NUTS_ID])))
                        return 1;
                    else
                        return 0;
                });

        // code pour la creation de la carte quand les donnees sont chargees la 1e fois.
        carte2.enter()
                .append("path")
                /*.filter(function (d) {
                    return !isNaN(parseFloat(data[d.properties.NUTS_ID]));
                })*/
                .attr("class", "enter region2")
                .attr("d", path2)
                .style("stroke", "#999")
                .style("stroke-width", 0.2)
                .style("fill", function (d) {
                    if (!isNaN(parseFloat(dataMap2[d.properties.NUTS_ID])))
                        return color2(100000 * dataMap2[d.properties.NUTS_ID] / d.properties.POPULATION);
                    else
                        return "#999";
                })
                .style("opacity", function (d) {
                    if (!isNaN(parseFloat(dataMap2[d.properties.NUTS_ID])))
                        return 1;
                    else
                        return 0;
                });
        /*.on('mousemove', function(d) {
         fillTooltip(d, currentWeek);
         })
         .on('mouseout', function() {
         tooltip.classed('hidden', true);
         });*/

        /*.call(d3.helper.tooltip(function (d, i) {
         return tooltipText(d);
         }));*/
        /*function tooltipText(d){
         if (isNaN(parseFloat(data[d.properties.NUTS_ID]))) {
         var crimes = "No Data";
         } else {
         var crimes = data[d.properties.NUTS_ID];
         }
         return "<b>" + d.properties.NAME + "</b>"
         + "<br/> pop: " + d.properties.POPULATION
         + "<br/> crimes: " + crimes;
         }*/

        carte1.exit().remove();
        carte2.exit().remove();

    }

    function processData(error,density, pesticides, europe) {

        if (error) throw error;

        var year = d3.select("#slider")[0][0].value;
        d3.select('#year').html(year);
        drawMaps(year, density, pesticides, europe);

        title1.attr("x", 350)
                .attr("y", 25)
                .attr("class", "titlemap")
                .text("Pollution");

        title2.attr("x", 350)
                .attr("y", 25)
                .attr("class", "titlemap")
                .text("Density");

        //color.domain([0, d3.max(data, function(d) { return parseFloat(d["somme2014"]);})]);
        d3.select("#slider").on("input", function() {
            updateViz(this.value, density, pesticides, europe);
        });
    }

    queue()   // permet de charger les fichiers de manière asynchrone
            .defer(d3.tsv, "data/eurostats/demo_r_d3dens.tsv")
            .defer(d3.tsv, "data/eurostats/pesticides_sales2.tsv")
            .defer(d3.json,"geodata/euro/eurotopo.json")
            .await(processData);


</script>

<div id="yeardiv">
    <h4>Année</h4>
    <input id="slider" type="range" value="2000" min="1990" max="2014" step="1" />
    <span id="year"></span>
</div>

<div id="pollutiondiv">
    <!--TODO passer en pas statique avec jquery?-->
    <h4>Choix polluant</h4>
    <ul>
        <li><input type="checkbox" id="polcheck1"> Ammoniac</li>
        <li><input type="checkbox" id="polcheck2"> Dioxyde d'Azote</li>
        <li><input type="checkbox" id="polcheck3"> Monoxyde de Carbone</li>
        <li><input type="checkbox" id="polcheck4"> Plomb</li>
        <li><input type="checkbox" id="polcheck5"> TODO</li>
    </ul>
</div>

<div id="mesurediv">
    <!--TODO passer en pas statique avec jquery?-->
    <h4>Choix mesure</h4>
    <ul>
        <li><input type="checkbox" id="polmesure1"> Densité Population</li>
        <li><input type="checkbox" id="polmesure2"> Production electricite</li>
        <li><input type="checkbox" id="polmesure3"> Parc auto</li>
        <li><input type="checkbox" id="polmesure4"> Production charbon</li>
        <li><input type="checkbox" id="polmesure5"> Vente pesticide</li>
        <li><input type="checkbox" id="polmesure6"> TODO</li>
    </ul>
</div>


<footer>Source: <a href="http://http://ec.europa.eu/eurostat/data/database">eurostat</a></footer>