<!DOCTYPE html>
<meta charset="utf-8">
<title>Air pollution indicators</title>

<script src="http://d3js.org/d3.v3.min.js"></script>
<script src="http://d3js.org/topojson.v1.min.js"></script>
<script src="https://d3js.org/queue.v1.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src="http://labratrevenge.com/d3-tip/javascripts/d3.tip.min.js"></script>

<link rel="stylesheet" href="css/styleviz.css">
<link rel="icon" href="img/icon1.png">

<body>

<section id ="presentation-text">

    <h2 id = "presentation-title">Quelles sont les causes et origines possibles de la pollution?</h2>

    <p>
    TODO La quantité de CO2 dégagée par la combustion de carburants fossiles a doublé ces 30 dernières années.
    En 1971, la quantité totale mondiale d’émissions était de 14095 millions de tonnes.
    En 2007, elle était de 28962 millions de tonnes. Les prédictions pour l’année 2030 estiment un total de 40226 millions de tonnes.
    Consultez l’évolution des émissions de CO2 dans votre pays de résidence et comparez-la à d’autres.
    </p>

</section>

<div id = "content">


    <div id="countriesdiv" ></div>


    <div id = "mapsdiv">


            <div id = 'map1title' class = "maptitle"></div>
            <div id="maps"></div>

            <hr>

            <div id = 'map2title' class = "maptitle"></div>
            <div id="maps2"></div>
            <footer>
				Made by <a href="https://github.com/JulesSauvinet/">Jules SAUVINET</a> & <a href="https://github.com/MarineRu">Marine RUIZ</a>
				</br>
				Source : <a href="http://http://ec.europa.eu/eurostat/data/database">eurostat</a>		

				<span class = "footnotes">
					</br> <sup>(1)</sup>
					Population : les données de chaque pays sont divisées par sa population.
                    <p style="margin-left:1.55%;">
						&nbsp Densité
                        <span style="margin-left:1.55%;">
                        : les données de chaque pays sont divisées par sa population et multipliées par sa densité.
                        <span/>
					</p>
				</span>
			</footer>



    </div>

    <div id="settings">
        <!--------------- LEGENDE POLLUANTS ------------------>
        <div id = "polsettings" class = "halfsettings">
            <div id="pollutiondiv" class = "choicediv"></div>
            <div id="pollegend" class = "legend"></div>
        </div>


        <!--------------- RADIOLIST NORMALISATION ------------------>
        <div id="normalisationdiv"></div>

        <!---------------- LEGENDE MESURES ------------------->
        <div id = "messettings" class = "halfsettings">

            <div id="mesurediv" class = "choicediv"></div>
            <div id="meslegend" class = "legend"></div>
        </div>
    </div>


</div>
</body>

<script type="text/javascript" src="js/smallMultiples.js"></script>

