<!DOCTYPE html>
<meta charset="utf-8">
<title>Air pollution indicators</title>

<script src="http://d3js.org/d3.v3.min.js"></script>
<script src="http://d3js.org/topojson.v1.min.js"></script>
<script src="https://d3js.org/queue.v1.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<!--script src="http://labratrevenge.com/d3-tip/javascripts/d3.tip.v0.6.3.js"></script-->
<script src="js/lib/d3-tip.js"></script>


<link rel="stylesheet" href="css/styleviz.css">
<link rel="icon" href="img/icon1.png">

<body>

<!-- LE TEXTE DE PRESENTATION DE LA VIZU -->
<section id ="presentation-text">

    <h2 id = "presentation-title">Qui sont les plus gros pollueurs parmi l'UE et pourquoi ? </h2>

    <p>
		Durant les 20 dernières années, l'Union Européenne à 28 pays a connu globalement une réduction des polluants de l'air les plus nocifs :  Oxydes de soufre, Oxydes d'azote, Ammoniac, Composés volatiles organiques hors méthane et Particules fines.</br>
		Néanmoins, leurs émissions restent encore très élevées, avec de réelles différences selon les pays.</br>
		Certains pays ont pris la mesure de ces enjeux en mettant en place des réformes de réduction de ces émissions, alors que d'autres continuent d'en émettre des quantités importantes. </br></br>

		Quel sont ces pays? &nbsp; Quelles sont les causes possibles et conséquences des émissions de ces polluants?
		</br></br>Consultez l’évolution des émissions de polluants des pays d'Europe et comparez-les aux mesures disponibles <sup> (1) </sup>.
    </p>

</section>

<!-- L'explication de ce qu'est le polluant courant -->
<div id = "polIllustration"></div>

<div id = "content">

	<!-- Le div du choix des pays -->
    <div id="countriesdiv" ></div>
    
	<!-- Le div des conteneurs des 2 conteneurs de small maps -->
    <div id = "mapsdiv">

	
			<!-- Le div des small maps de polluants et le titre -->
            <div id = 'map1title' class = "maptitle"></div>
            <div id="maps"></div>

            <hr>

			<!-- Le div des small maps de polluants et le titre -->
            <div id = 'map2title' class = "maptitle"></div>
            <div id="maps2"></div>
			
			<!-- Le footer avec la source, et les notes --> 
            <footer>
				<div class= "footleft">
					Source : <a href="http://http://ec.europa.eu/eurostat/data/database">eurostat</a>		

					<span class = "footnotes">
						</br><sup> (1) </sup>La liste des mesures disponibles changent en fonction du polluant affiché afin de maximiser la pertinence des comparaisons.
						</br> <sup>(2)</sup>
						Population : les données de chaque pays sont divisées par sa population.
						<p style="margin-left:1.4%;">
							Densité
							<span style="margin-left:1.4%;">
							: les données de chaque pays sont divisées par sa population et multipliées par sa densité.
							<span/>
						</p>
					</span>
				</div>
				
				<div class= "footright">
					<span  id="madeby" class = "madeby">
					By <a href="https://github.com/JulesSauvinet/">Jules Sauvinet</a> & <a href="https://github.com/MarineRu">Marine Ruiz</a>
					</span>
				</div>
			</footer>
			

    </div>

	<!-- LE PANNEAU DE DROITE -->
    <div id="settings">
        <!--------------- LEGENDE POLLUANTS ------------------>
        <div id = "polsettings" class = "halfsettings">
            <div id="pollutiondiv" class = "choicediv"></div>
            <div id="pollegend" class = "legend"></div>
        </div>

        <!--------------- RADIOLIST NORMALISATION ------------------>
        <div id="normalisationdiv"></div>

        <!---------------- LEGENDE MESURES ------------------->
        <div id = "messettings" class = "halfsettings">
            <div id="mesurediv" class = "choicediv"></div>
            <div id="meslegend" class = "legend"></div>
        </div>
    </div>
						

</div>
</body>

<script type="text/javascript" src="js/smallMultiples.js"></script>

