<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Loading data from server</title>
        <script type="text/javascript" src="js/d3.js"></script>
        <script type="text/javascript" src="js/topojson.js"></script>

        <style>
                .subunit.FXC,.subunit.FXX { fill: whitesmoke/*#FFE3EB*/; stroke:"black"; stroke-width:10}

                .subunit.FR,
                .subunit-label.FR {
                  display: none;
                }

                .regions-boundary {
                    fill: none;
                    stroke: black;
                    stroke-dasharray: 3,3;
                    stroke-linejoin: round;
                }

                .subunit-boundary {
                    fill: none;
                    /*stroke: black;
                    stroke-dasharray: 2,2;
                    stroke-linejoin: round;*/
                }


                .regions-subunit { fill: floralwhite;  opacity:0.9; stroke:"black"; stroke-width:10}

                .subunit-label {
                  fill: #777;
                  fill-opacity: .5;
                  font-size: 20px;
                  font-weight: 300;
                  text-anchor: middle;
                }


                .place,
                .place-label {
                  fill: #444;
                }

                text {
                  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
                  font-size: 10px;
                  pointer-events: none;
                }

                div.tooltip {
                    position: absolute;
                    text-align: center;
                    width: 100px;
                    height: 40px;
                    padding: 2px;
                    font: 12px sans-serif;
                    background: lightsteelblue;
                    border: 0px;
                    border-radius: 8px;
                    pointer-events: none;
                }

        </style>

    </head>
    <body>

    <script type="text/javascript">
        var width = 1160,
            height = 860;

        var projection = d3.geo.albers()
            .center([4, 45])
            .rotate([0, 0])
            .parallels([70, 60])
            .scale(800 * 5)
            .translate([width / 2, height / 2]);

        var path = d3.geo.path()
            .projection(projection)
            .pointRadius(2);

        var svg = d3.select("body").append("svg")
            .attr("width", width)
            .attr("height", height);

        var div = d3.select("body").append("div")
                .attr("class", "tooltip")
                .style("opacity", 0);

        d3.json("geodata/fr/fr.json", function(error, fr) {
          var subunits = topojson.feature(fr, fr.objects.subunits),
              places = topojson.feature(fr, fr.objects.places);

          svg.selectAll(".subunit")
              .data(subunits.features)
              .enter().append("path")
              .attr("class", function(d) { return "subunit " + d.id; })
              .attr("d", path);

          svg.append("path")
              .datum(topojson.mesh(fr, fr.objects.subunits))
              .attr("d", path)
              .attr("class", "subunit-boundary");

            d3.json("geodata/fr/regFr.json", function(error, regs) {

                var regions = topojson.feature(regs, regs.objects.regions);
                var idReg =  [];

                if (error) return console.error(error);


                svg.selectAll(".regions")
                        .data(regions.features)
                        .enter().append("path")
                        .attr("class", function (d, i) {
                            return "regions-subunit" ;
                        })
                        .attr("id", function (d, i) {
                            idReg.push(d.id);
                            return "regions-subunit"+d.id ;
                        })
                        .attr("d", path);

                //console.log(idReg);
                svg.append("path")
                        .datum(topojson.mesh(regs,regs.objects.regions))
                        .attr("d", path)
                        .attr("class", "regions-boundary");


                svg.selectAll(".subunit-label")
                        .data(subunits.features)
                        .enter().append("text")
                        .attr("class", function (d) {
                            return "subunit-label " + d.id;
                        })
                        .attr("transform", function (d) {
                            return "translate(" + path.centroid(d) + ")";
                        })
                        .attr("dy", ".35em")
                        .text(function (d) {
                            return d.properties.name;
                        });

                svg.append("path")
                        .datum(places)
                        .attr("d", path)
                        .attr("class", "place");


                svg.selectAll(".place-label")
                        .data(places.features)
                        .enter().append("text")
                        .attr("class", "place-label")
                        .attr("transform", function (d) {
                            return "translate(" + projection(d.geometry.coordinates) + ")";
                        })
                        .attr("x", function (d) {
                            return d.geometry.coordinates[0] > -1 ? 6 : -6;
                        })
                        .attr("dy", ".35em")
                        .style("text-anchor", function (d) {
                            return d.geometry.coordinates[0] > -1 ? "start" : "end";
                        })
                        .text(function (d) {
                            return d.properties.name;
                        });

                /*var nodes = g.selectAll("g")
                        .data(data).enter()
                        .append("g");

                var regs = svg.selectAll('.regions-subunit').data(regions.features).enter();*/

                /*svg.selectAll('.properties-label')
                        .data(regions.features)
                        .enter()
                        .append('text')
                        .text(function(d) {return d.properties.nom; })
                        .attr("class", "properties-label")
                        .attr("id", function (d, i) {
                            return "properties-label"+d.id ;
                        })
                        .attr("transform", function (d) {
                            return "translate(" + path.centroid(d) + ")";
                        })
                        .attr('style', 'display:none;');*/

                /*color : rgb(255,0,0);*/

                idReg.forEach(function (id){
                    svg.select('#regions-subunit'+id).on('mouseover', function( d, i) {
                        //console.log(d.id);
                        d3.select(this).style("fill", "red").style( "opacity", 0.5);
                        /*svg.select("#properties-label"+d.id)
                         .attr('style', 'display:inline;')
                         .style("font-size", function(d,i){return 16;})
                         .style("font-weight", function(d,i){return "bold";})
                         .style("font-family", "monospace");*/

                        div.transition()
                                .duration(200)
                                .style("opacity", .9);
                        console.log(d);
                        div.html(d.properties.nom + "<br/>"  + d.properties.nom_cl)
                                .style("left", (d3.event.pageX) + "px")
                                .style("top", (d3.event.pageY - 28) + "px");

                    });
                    svg.select('#regions-subunit'+id).on("mouseout", function( data, index) {
                        d3.select(this).transition().duration(100).style("fill", "floralwhite").style( "opacity", 0.9);
                        //svg.selectAll("text").transition().duration(100).attr('style', 'display:none;');
                        //svg.select("#properties-label"+id).transition().duration(100).attr('style', 'display:none;');
                        div.transition()
                                .duration(300)
                                .style("opacity", 0);
                    });
                });

                d3.tsv("data/fr/pol_air_eider.csv", function(error, lines) {

                    function keepQuant(line) {
                        return line["Série"].includes("Nombre d'établissements concernés");
                    }

                    //Creation tableaux filtrés en fonction des lignes
                    var filterLines = lines.filter(keepQuant);
                    function keepAmmoniac(line) {return line["Série"].includes("Ammoniac");}
                    var ammoniac = lines.filter(keepAmmoniac);
                    function keepCadmium(line) {return line["Série"].includes("Cadmium");}
                    var cadmium = lines.filter(keepCadmium);
                    function keepMonoC(line) {return line["Série"].includes("Monoxyde de carbone");}
                    var monoC = lines.filter(keepMonoC);
                    function keepcompOrg(line) {return line["Série"].includes("Composés Organiques");}
                    var compOrg = lines.filter(keepCompOrg);
                    function keepFluoH(line) {return line["Série"].includes("Fluorure d'hydrogène");}
                    var fluoH = lines.filter(keepFluoH);
                    function keepSulfH(line) {return line["Série"].includes("Sulfure d'hydrogène");}
                    var sulfH = lines.filter(keepSulfH);
                    function keepChlorH(line) {return line["Série"].includes("Chlorure d'hydrogène");}
                    var chlorH = lines.filter(keepChlorH);
                    function keepAcideC(line) {return line["Série"].includes("Acide cyanhydrique");}
                    var acideC = lines.filter(keepAcideC);
                    function keepMercure(line) {return line["Série"].includes("Mercure");}
                    var mercure = lines.filter(keepMercure);
                    function keepChlorV(line) {return line["Série"].includes("Chlorure de vinyle");}
                    var chlorV = lines.filter(keepChlorV);
                    function keepOxydeN(line) {return line["Série"].includes("Oxyde d'azote");}
                    var oxydeN = lines.filter(keepOxydeN);
                    function keeplomb(line) {return line["Série"].includes("Plomb");}
                    var plomb = lines.filter(keepPlomb);
                    function keepPoussieres(line) {return line["Série"].includes("Poussières");}
                    var poussieres = lines.filter(keepPoussieres);
                    function keepOxydeS(line) {return line["Série"].includes("Oxydes de soufre");}
                    var oxydeS = lines.filter(keepOxydeS);
                    function keepDioxydeC(line) {return line["Série"].includes("Dioxyde de carbone");}
                    var dioxydeC = lines.filter(keepDioxydeC);
                    function keepArsenic(line) {return line["Série"].includes("Arsenic");}
                    var arsenic= lines.filter(keepArsenic);
                    function keepDichlorom(line) {return line["Série"].includes("Dichlorométhane");}
                    var dichlorom = lines.filter(keepDichlorom);
                    function keepProtoN(line) {return line["Série"].includes("Protoxyde d'azote");}
                    var protoN = lines.filter(keepProtoN);
                    function keepBenzene(line) {return line["Série"].includes("Benzène");}
                    var benzene = lines.filter(keepBenzene);
                    function keepPerchloro(line) {return line["Série"].includes("Perchloroéthylène");}
                    var perchloro = lines.filter(keepPerchloro);
                    function keepTrichloro(line) {return line["Série"].includes("Trichloroéthylène");}
                    var trichloro = lines.filter(keepTrichloro);
                    function keepChloroforme(line) {return line["Série"].includes("Chloroforme");}
                    var chloroforme = lines.filter(keepChloroforme);
                    function keepDicholoe(line) {return line["Série"].includes("dichloroéthane");}
                    var dichloroe = lines.filter(keepDicholoe);

                    //"N° région"
                    //plomb


                });

            });
        });

    </script>

    </body>
</html>


<!--
USE OSM?
var map = L.map('map').setView([51.505, -0.09], 13);

L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
}).addTo(map);

L.marker([51.5, -0.09]).addTo(map)
    .bindPopup('A pretty CSS3 popup.<br> Easily customizable.')
    .openPopup();

    TODO remove outremer ou prendre france metro
    */-->