<!DOCTYPE html>
<meta charset="utf-8">
<title>Air pollution indicators</title>

<script src="http://d3js.org/d3.v3.min.js"></script>
<script src="http://d3js.org/topojson.v1.min.js"></script>
<script src="https://d3js.org/queue.v1.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

<link rel="stylesheet" href="css/style2.css">
<link rel="stylesheet" href="css/github-light.css">

<style>

    body{height : 800px;width:1550px;}

    #mapleft{width: 600px; position:absolute; left : 125px; top:100px;}
    #mapright{width: 600px; position:absolute; left : 775px; top:100px;}

    .titlemap{
        font-size: 20px;
        text-anchor: middle;
        color:#232323;
        margin:36px 0 10px;
        font-family: Arvo, Monaco, serif;
        line-height:1.3;
        font-weight: normal;
    }

    #yeardiv {
        position: absolute;
        left :25px;
        border:1pt solid black;
        top :40px;
        padding: 4px;
    }

    #pollutiondiv{
        position: absolute;
        left :25px;
        border:1pt solid black;
        top :150px;
        padding: 4px;
    }

    #mesurediv{
        position: absolute;
        left :725px;
        border:1pt solid black;
        top :150px;
        padding: 4px;
    }

    fieldset {
        margin-bottom: 20px;
        border: 1px solid lightgray;
    }
    fieldset > label,
    span > label {
        margin-left: 10px;
        font-size: 14px;
    }
    label.selected {
        color: black;
    }
    label.notSelected {
        color: lightgray;
    }

    .background {
        fill: #fff;
        stroke: #ccc;
    }
    .tooltip{ background-color:rgba(200,200,200,0.5);;
        margin: 10px;
        height: 90px;
        width: 150px;
        padding-left: 10px;
        padding-top: 10px;
        -webkit-border-radius:10px;
        -moz-border-radius:10px;
        border-radius:10px;
    }
    footer{position : absolute; bottom : 10px;}
</style>
<body>

<!--script type="text/javascript" src="js/tooltip.js"></script-->
<script>
    //TODO CHANGER LE STYLE (creer un style adapté), et LES POSITION SONT TOUTES EN ABSOLUES DONC PASSER EN RELATIF
    //TODO GERER LES SCALES DE COLOR
    //TODO GERER LES VALEURS MANQUANTES
    //TODO PONDERER POLLUTIONS SELON TAILLE PAYS ET POPULATION??

    var width = 1550, height = 800;

    //Map de gauche
    var projection1 = d3.geo.stereographic().center([3.9,43.0]).scale(900).translate([350 , 330]);
    var path1 = d3.geo.path().projection(projection1);
    var svg1 = d3.select("#mapleft").append("svg").attr("width", 600).attr("height", 500);

    //Map de droite
    var projection2 = d3.geo.stereographic().center([3.9,43.0]).scale(900).translate([350 , 330]);
    var path2 = d3.geo.path().projection(projection2);
    var svg2 = d3.select("#mapright").append("svg").attr("width", 600).attr("height", 500);

    var color1 = d3.scale.linear().domain([0,40000]).range(['yellow', 'red']);
    var color2 = d3.scale.linear().domain([0,100]).range(['lightgreen', 'darkgreen']);

    var title1 = /*d3.select("#mapleft")*/svg1.append("text");
    var title2 = /*d3.select("#mapright")*/svg2.append("text");

    var curYear = '2014';

    function updateViz(year, data1, data2, europe){
        curYear=year;
        d3.select('#year').html(year);

        drawMap1(year,data1,europe);
        drawMap2(year,data2,europe)
    }

    //TODO predre le max sur le temps ou ponctuellement -> depend si on veux
    //TODO voir l'evolution dans le temps ou comparer l'impact de la carte 2 sur la carte 1
    //TODO FUSIONNER LES DATA POUR LA MISE A JOUR
    function drawMap2(year,data2,europe) {
        //densité
        dataMap2 = {};
        data2.forEach(function (d) {
            //if (d.unit === 'T' && d.airpol === 'NH3' && d.airsect ==='SE1_CIH') {
            if (d["geo"] !== 'EU28')
                dataMap2[d["geo"]] = d[year];
            //}
        });
        min2 = d3.min(data2, function(d) { return parseFloat(d[year]);});
        max2 = d3.max(data2, function(d) { return parseFloat(d[year]);});

        //color2.domain([min2,max2]);
        var data = topojson.feature(europe, europe.objects.regions).features;
        data.forEach(function(d){
           if (dataMap2[d.properties.NUTS_ID]) {
               d.value = dataMap2[d.properties.NUTS_ID];
           }
        });

        var carte2 = svg2.selectAll(".region2")
                .data(data);

        // code en cas de mise a jour de la carte / de changement de semaine
        carte2.attr("class", "update region2")
                .filter(function (d) {
                    return !isNaN(parseFloat(d.value));
                })
                .style("stroke", "lightgrey")
                .style("stroke-width", 0.2)
                .style("fill", function (d) {

                    if (!isNaN(parseFloat(d.value)))
                        return color2(100000 * d.value / d.properties.POPULATION);
                    else
                        return "lightgrey";
                })
                .style("opacity", function (d) {
                    if (!isNaN(parseFloat(d.value)))
                        return 1;
                    else
                        return 0;
                });

        // code pour la creation de la carte quand les donnees sont chargees la 1e fois.
        carte2.enter()
                .append("path")
                .filter(function (d) {
                    return !isNaN(parseFloat(d.value));
                })
                .attr("class", "enter region2")
                .attr("d", path2)
                .style("stroke", "#999")
                .style("stroke-width", 0.2)
                .style("fill", function (d) {
                    if (!isNaN(parseFloat(d.value)))
                        return color2(100000 * d.value / d.properties.POPULATION);
                    else
                        return "#999";
                })
                .style("opacity", function (d) {
                    if (!isNaN(parseFloat(d.value)))
                        return 1;
                    else
                        return 0;
                });
        /*.on('mousemove', function(d) {
         fillTooltip(d, currentWeek);
         })
         .on('mouseout', function() {
         tooltip.classed('hidden', true);
         });*/

        /*.call(d3.helper.tooltip(function (d, i) {
         return tooltipText(d);
         }));*/
        /*function tooltipText(d){
         if (isNaN(parseFloat(data[d.properties.NUTS_ID]))) {
         var crimes = "No Data";
         } else {
         var crimes = data[d.properties.NUTS_ID];
         }
         return "<b>" + d.properties.NAME + "</b>"
         + "<br/> pop: " + d.properties.POPULATION
         + "<br/> crimes: " + crimes;
         }*/

        carte2.exit().remove();
    }

    function drawMap1(year,data1,europe){
        //pollution
        dataMap1 = {};
        dataRange = [];
        data1.forEach(function (d) {
            //if (d.unit === 'T' && d.airpol === 'NH3' && d.airsect ==='SE1_CIH') {
            if (d["geo"] !== 'EU28'){
                dataMap1[d["geo"]] = d[year];
                dataRange.push(d[year]);
            }
            //}
        });

        min1 = d3.min(dataRange, function(d) { return parseFloat(d);});
        max1 = d3.max(dataRange, function(d) { return parseFloat(d);});
        color1.domain([min1,max1]);

        var data = topojson.feature(europe, europe.objects.regions).features;
        data.forEach(function(d){
            if (dataMap1[d.properties.NUTS_ID]) {
                d.value = dataMap1[d.properties.NUTS_ID];
            }
        });


        var carte1 = svg1.selectAll(".region1")
                .data(data);

        // code en cas de mise a jour de la carte / de changement d'annee
        carte1.attr("class", "update region1")
                .filter(function (d) {
                    return !isNaN(parseFloat(d.value));
                })
                .style("stroke", "#999")
                .style("stroke-width", 0.2)
                .style("fill", function (d) {
                    if (!isNaN(parseFloat(d.value)))
                        return color1(d.value);

                    else
                        return "lightgrey";
                })
                .style("opacity", function (d) {
                    if (!isNaN(parseFloat(d.value)))
                        return 1;
                    else
                        return 0;
                });

        // code pour la creation de la carte quand les donnees sont chargees la 1e fois.
        carte1.enter()
                .append("path")
                .filter(function (d) {
                    return !isNaN(parseFloat(d.value));
                })
                .attr("class", "enter region1")
                .attr("d", path1)
                .style("stroke", "#999")
                .style("stroke-width", 0.2)
                .style("fill", function (d) {
                    if (!isNaN(parseFloat(d.value)))
                        return color1(d.value);
                    else
                        return "lightgrey";
                })
                .style("opacity", function (d) {
                    if (!isNaN(parseFloat(d.value)))
                        return 1;
                    else
                        return 0;
                });
        /*.on('mousemove', function(d) {
         fillTooltip(d, currentWeek);
         })
         .on('mouseout', function() {
         tooltip.classed('hidden', true);
         });*/
        carte1.exit().remove();
    }

    function updateMap1(year, pollutions, europe) {
        var pollution = createPolData(pollutions);
        drawMap1(year, pollution,europe);
    }

    function updateMap2(year, data, europe) {
        drawMap2(year, data,europe);
    }

    function createPolData(pollutions){
        var choice;
        d3.selectAll(".radiopol").each(function(d){
            rb = d3.select(this);
            if(rb.property("checked")){
                choice= rb.property("value");
            }
        });
        var pollution = pollutions.filter(function(d,i){return d.airpol === choice});
        return pollution;
    }

    var pollutants = [];

    function processData(error,pollutions,density, pesticides, energie, nuclear, taxes, europe) {

        if (error) throw error;

        /********************* le slider des années **********************/
        var year = d3.select("#slider")[0][0].value;
        curYear=year;
        d3.select('#year').html(year);
        /*************** On créé la liste des polluants *******************/
        var idx =0;
        pollutions.forEach(function(p){
           if (!pollutants.includes(p.airpol)) {
               var state = false;
               if (idx===0)
                   state = true;
               pollutants.push(p.airpol);
           }
        });

        //TODO les autres
        var pest = pesticides.filter(function(d,i){return d['pe_type'] === 'PE_0'});

        //TODO exploiter les sous infos
        var enerind = energie.filter(function(d,i){return d['indic_nv'] === 'FEC_IND'});
        var enerser = energie.filter(function(d,i){return d['indic_nv'] === 'FEC_SER'});
        var eneragr = energie.filter(function(d,i){return d['indic_nv'] === 'FEC_AGR'});
        var enerhh = energie.filter(function(d,i){return d['indic_nv'] === 'FEC_HH'});
        var enertot = energie.filter(function(d,i){return d['indic_nv'] === 'FEC_TOT'});

        /********************* le div des polluants **********************/
        var fieldset = d3.select("#pollutiondiv").append("form");
        fieldset.append("legend").html("<h4>Choix polluant</h4>");
        var radioSpan = fieldset.selectAll(".radio").data(pollutants);

        radioSpan.enter().append("span")
                .attr("class", "radio");

        radioSpan.append("input")
                .attr({
                    type: "radio",
                    name: "pol",
                    class : "radiopol",
                    id : function(d,i) { return 'polradio' + i;}
                })
                .property({
                    checked: function(d,i) { return (i ===0); },
                    value: function(d) { return d }
                });
        radioSpan.append("label")
                .html(function(d, i) {  return d.last == true ? d :  d + '<br>'});


        /****** On récupère la liste pollution en fonction du polluant (radio bouton) choisi *******/
        var pollution = createPolData(pollutions);

        title1.attr("x", 350)
                .attr("y", 25)
                .attr("class", "titlemap")
                .text("Pollution");

        title2.attr("x", 350)
                .attr("y", 25)
                .attr("class", "titlemap")
                .text("Density");

        //color.domain([0, d3.max(data, function(d) { return parseFloat(d["somme2014"]);})]);
        d3.select("#slider").on("input", function() {
            updateViz(this.value, pollution, density, europe);
        });

        d3.selectAll("input[type=radio][name=pol]")
                .on("change", function() {
                    var elem = d3.select(this);
                    var pol = elem.property("value");
                    pollution = createPolData(pollutions);
                    var year = d3.select("#slider")[0][0].value;
                    updateMap1(year, pollution, europe);
                    //updateDaySelection();
                    //renderAll();
                });

        d3.selectAll("input[type=radio][name=mesure]")
                .on("change", function() {
                    var elem = d3.select(this);
                    var mesure = elem.property("value");
                    //s
                    var year = d3.select("#slider")[0][0].value;
                    var dataMap2 = [];
                    switch (mesure) {
                        case "auto":
                            dataMap2=density;
                            break;
                        case "prod":
                            console.log("prodtot");
                            dataMap2=enertot;
                            break;
                        case "charb":
                            dataMap2=density;
                            break;
                        case "dens":
                            dataMap2=density;
                            break;
                        case "todo":
                            dataMap2=density;
                            break;
                        case "pest1":
                            console.log("pest1");
                            dataMap2=pest;
                            break;
                        case "pest2":
                            console.log("pest2");
                            dataMap2=pest;
                            break;
                    }
                    updateMap2(year, dataMap2, europe);
                });

        drawMap1(year, pollution,  europe);
        drawMap2(year, density,  europe);

    }

    queue()   // permet de charger les fichiers de manière asynchrone
            .defer(d3.tsv, "data/eurostats/clean/env_air_emission.tsv") //les emissions de pollutions dans l'air
            .defer(d3.tsv, "data/eurostats/clean/demo_r_d3dens.tsv") //les données sur la densité
            .defer(d3.tsv, "data/eurostats/clean/pesticides_sales2.tsv") //les pesticides de 80 à 2008
            .defer(d3.tsv, "data/eurostats/clean/env_rpep.tsv") //production d'energie par secteur
            .defer(d3.csv, "data/eurostats/clean/nuclear_heat.csv") //les donnees du chauffage nucleaire
            .defer(d3.csv, "data/eurostats/clean/env_ac_taxes.csv") //les donnees des txes sur l'environnement
            .defer(d3.json,"geodata/euro/eurotopo.json") //la map de l'europe
            .await(processData);


</script>

<div id="mapleft"></div>
<div id="mapright"></div>

<!----------- SLIDER DES ANNEES (TODO mettre en dynamique les années) ------------->
<div id="yeardiv">
    <h4>Année</h4>
    <input id="slider" type="range" value="2000" min="1990" max="2014" step="1" />
    <span id="year"></span>
</div>


<!--------------- RADIOLIST POLLUANTS ------------------>
<div id="pollutiondiv"></div>

<!--------------- RADIOLIST POLLUANTS ------------------>
<div id="mesurediv">
    <!--TODO passer en dynamique-->
    <h4>Choix mesure</h4>
    <input type="radio" name="mesure" value = "dens" id="polmesure1" checked> Densité Population <br>
    <input type="radio" name="mesure" value = "prod"  id="polmesure2"> Production electricite <br>
    <input type="radio" name="mesure" value = "auto" id="polmesure3"> Parc auto <br>
    <input type="radio" name="mesure" value = "charb" id="polmesure4"> Production charbon <br>
    <input type="radio" name="mesure" value = "pest1" id="polmesure5"> Vente pesticide (1990-2008) <br>
    <input type="radio" name="mesure" value = "pest2" id="polmesure6"> Vente pesticide (2011-2014) <br>
    <input type="radio" name="mesure" value = "todo" id="polmesure7"> TODO
</div>


<footer>Source: <a href="http://http://ec.europa.eu/eurostat/data/database">eurostat</a></footer>