<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>Dataviz by Jules Sauvinet</title>

    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/github-light.css">
    <script src="js/scale.fix.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1 class="header" style="text-align: center">Dataviz</h1>
        <p class="header">Cette page doit répertorier quelques visualisations de mon cours de DataViz de l'Universite Claude Bernard Lyon 1</p>

        <ul>
          <li class="download"><a class="buttons" href="https://github.com/JulesSauvinet/dataviz/zipball/master">Download ZIP</a></li>
          <li class="download"><a class="buttons" href="https://github.com/JulesSauvinet/dataviz/tarball/master">Download TAR</a></li>
          <li><a class="buttons github" href="https://github.com/JulesSauvinet/dataviz">View On GitHub</a></li>
        </ul>

        <p class="header">Cette page est maintenue par <a class="header name" href="https://github.com/JulesSauvinet">Jules Sauvinet</a></p>


      </header>
      <section>
        <h3>
        <a id="welcome-to-github-pages" class="anchor" href="#welcome-to-github-pages" aria-hidden="true">
          <span aria-hidden="true" class="octicon octicon-link"></span></a>Mes visualisations : (que des tests pour l'instant...)</h3>

        <ul>
          <!-------------------------------- SAMPLES ------------------------------------->
          <li> <p style="text-indent:10px;"> <a href="/simpleBarChart"> Un bar chart très basique </a> </p> </li>
          <li> <p style="text-indent:10px;"> <a href="/mapUK"> Une map du Royaume-Uni </a> </p> </li>
          <li> <p style="text-indent:10px;"> <a href="/franceAmmoniac"> Une map de la France :</a> &nbsp&nbsp Colorée selon le taux d'Ammoniac en 2000 </p> </li>
          <li> <p style="text-indent:10px;"> <a href="/waterways"> Les cours d'eau en France </a> </p> </li>
          <li> <p style="text-indent:10px;"> <a href="/densityEurope"> Densité de population en Europe</a>  &nbsp&nbsp (découpage NUTS3) </p> </li>


          <!-------------------------------- TP ------------------------------------->
          <li><p style="text-indent:10px;"> <a href="/grippeNovembre2015"> Les cas de grippe en France :</a> &nbsp&nbsp (novembre 2015) </p> </li>
          <li> <p style="text-indent:10px;"> <a href="/grippe20132015"> La grippe en France (2)</a>  &nbsp&nbsp (2003-2015) </p> </li>
          <li> <p style="text-indent:10px;"> <a href="/votesconjoints"> Les votes conjoints en France </a>  &nbsp&nbsp (Graphe sur 1350 scrutins, met du temps à charger) </p> </li>


          <!-------------------------------- PROJECT ------------------------------------->
          <li> <p style="text-indent:10px; font-size: 14px!important; font-weight: bold!important;"> <a href="/test1"> Test pour le projet </a>   </p> </li>
          <li> <p style="text-indent:10px; font-size: 14px!important; font-weight: bold!important;"> <a href="/project"> Le projet (in progress)</a>  &nbsp&nbsp (smallMultiples) </p> </li>

        </ul>

      </section>
    </div>
		
  </body>
</html>
