<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <script src="http://d3js.org/d3.v3.min.js"></script>
    <script src="http://d3js.org/topojson.v1.min.js"></script>
    <style>

        body { margin:0;position:fixed;top:0;right:0;bottom:0;left:0; }

        .regions {
            stroke: darkgrey;
            stroke-width: 1px;
            fill:white;
        }
        .regions:hover {
            fill: #666;
        }
        .hidden {
            display: none;
        }
        div.tooltip {
            color: #222;
            background-color: #fff;
            padding: .5em;
            text-shadow: #f5f5f5 0 1px 0;
            border-radius: 2px;
            opacity: 0.9;
            position: absolute;
        }
    </style>
</head>

<body>
<script>
    var width = 700*1.5,
            height = 580*1.6;

    var svg = d3.select( "body" )
            .append( "svg" )
            .attr( "width", width )
            .attr( "height", height );

    var projection = d3.geo.conicConformal().center([2.454071, 46.279229]).scale(4000)
            .translate([width/2, height/2.5]);

    var path = d3.geo.path()
            .projection(projection);

    var length = 100,
            color = d3.scale.linear().domain([1,length])
                    .interpolate(d3.interpolateHcl)
                    .range([d3.rgb("#FBF2B7"), d3.rgb('#FF0000')]);

    var tooltip = d3.select('body').append('div')
            .attr('class', 'hidden tooltip');

    d3.csv("data/fr/GrippeFrance2014.csv", function(data) {

        d3.json("geodata/fr/regions.json", function(regions) {

            d3.json("geodata/fr/me2.json", function(zre) {

                var dateMonth = "11/14";

                for (var i = 0; i < data.length; i++) {
                    data[i]["11/14"] = parseFloat(data[i]["02/11/14"]) + parseFloat(data[i]["09/11/14"]) + parseFloat(data[i]["16/11/14"]) + parseFloat(data[i]["23/11/14"]) + parseFloat(data[i]["30/11/14"]);
                }
                //color.domain([0, d3.max(data, function(d) { return parseFloat(d["somme2014"]);})]);
                color.domain([d3.min(data, function (d) {
                    return parseFloat(d["11/14"]);
                }), d3.max(data, function (d) {
                    return parseFloat(d["11/14"]);
                })]);


                //On fusionne les donnees avec le GeoJSON
                for (var i = 0; i < data.length; i++) {
                    for (var j = 0; j < regions.features.length; j++) {
                        //console.log(regions.features[j].properties.nom);
                        //console.log(data[i].region);
                        if (regions.features[j].properties.nom === data[i].region) {
                            regions.features[j].properties.grippe = data[i];
                        }
                    }
                }

                svg.selectAll("path")
                        .data(regions.features)
                        .enter()
                        .append("path")
                        .attr("class", function (d, i) {
                            return "regions";
                        })
                        .attr("d", path)
                        .on('mousemove', function (d) {
                            /*tooltip.classed('hidden', false)
                                    .attr('style', 'left:' + (mouse[0] + 15) +
                                            'px; top:' + (mouse[1] - 35) + 'px')
                                    .html(toDisplay);*/
                        })
                        .on('mouseout', function () {
                            tooltip.classed('hidden', true);
                        });

                svg.selectAll(".zre")
                        .data(topojson.feature(zre, zre.objects.me).features)
                        .enter().append("path")
                        .attr("class", function(d) { return "zre"; })
                        .attr("d", path)
                        .style("stroke",  "lightblue")
                        .style("stroke-width", "1px")
                        .style("fill", "white");

                /*
                 .style("fill", function (d) {
                 return "lightblue";
                 });*/

            });
        });
    });

</script>
</body>
